#facebook ._97v- ._1kbt {
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
  }
  html ._55r1 {
    background: #FFFFFF url(/rsrc.php/v3/yU/r/O7nelmd9XSI.png) repeat-x;
    border: 1px solid #dddfe2;
    color: #1d2129;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 22px;
    line-height: 16px;
    padding: 0 8px;
    vertical-align: middle;
  }
  ._52jv {
    text-align: center;
  }

  element {
}
#facebook ._-kb div {
  font-family: inherit;
}
._97w0 ._xku {
  padding: 24px 0 16px 0;
}
._xku {
  padding: 18px 0;
}
._52jv {
  text-align: center;
}
body, button, input, label, select, td, textarea {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}
body {
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
}